<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 600px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
      span { display: inline-block; margin: 5px; padding: 8px 15px; 
            border: 1px solid black; }

  </style>
</head>
<body>
  <div id="app">
    
    <input type="text" v-model="value">
    <button type="button" v-on:click="make" >생성</button>
    <br>
    <span v-for="(item,i) in array1" :key="i">
        {{ item }}
      </span>
  
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        array:0,
        value:0,
        array1=[],
      },
      
      methods: {
        make: function() {
          this.array=this.value;
          this.array1=[this.array];
          let a = [];
        for (let i = 0; i < this.array; ++i)
          a[i] = Math.floor(Math.random() * (9  + 1) );;
        shuffleArray(a);
        this.array1=a;
        },   
    }
    })
    function shuffleArray(a) {
      for (let i = 0; i < a.length; ++i) {
        let j = Math.floor(Math.random() * a.length);
        [a[i], a[j]] = [a[j], a[i]];
      }  
    }    

   </script>
</body>    
</html>
